<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACQemjU5fUjb2-wiZrE7HZQfFGPqCe9ME</string>
	<key>GCM_SENDER_ID</key>
	<string>986778539489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scheldule.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>scheldule-project</string>
	<key>STORAGE_BUCKET</key>
	<string>scheldule-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986778539489:ios:2886bbff1265c6388beea0</string>
</dict>
</plist>